* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #0c192c;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.bubbles {
    position: relative;display: flex;
}